<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" {{ url_for('views.welcome') }} ">Welcome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" {{ url_for('views.welcome_home') }} ">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" {{ url_for('views.welcome_back') }} ">Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" {{ url_for('weather') }} ">Weather report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=" {{ url_for('weather_history') }} ">Weather history</a>
                </li>
            </ul>
        </div>
    </div>
</nav>